<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= model_name %>: <%%= controller.action_name %></title>
  <%% url = <%= model_name %>.connection.binding.url %>
  <%%= tag("link", { "rel" => "Stylesheet", "type" => "text/css", "media" => "screen", "href" => "#{url.scheme}://#{url.host}:#{url.port}/dCSS/Theme2/default/common.css" }) %>
  <script type="text/javascript" src="http://na1.salesforce.com/js/functions.js"></script>
  <%%= javascript_include_tag "prototype", "effects" %>
</head>

<body class="contact  overviewPage" onload="request_id_resolve()">

<p style="color: green"><%%= flash[:notice] %></p>

<%%= @content_for_layout %>

<script>  
  <%% if @id_resolver %>
  function update_ids(id_map) {
	links = document.getElementsByTagName('a')
	
	for (var n = 0; n < links.length; n++) {
	  link = links[n]
	  
	  // Look for any links that end in /show/<id>
	  pos = link.href.lastIndexOf("/show/")
	  if (pos >= 0) {
	  	  id = link.href.substring(pos + 6)
		  match = id_map[id]
		  if (match) {
		    link.innerHTML = match
		    new Effect.Highlight(link)
		  }
	  }
	}
  }
  <%% end %>

  function request_id_resolve() {
    <%% if @id_resolver %>
  	  <%%= remote_function(:url => { :controller => 'asf_resolveids', :action => :resolve, :class => '<%= model_name %>', :ids => @id_resolver.serialize }, :complete => "update_ids(eval(request.responseText))") %>
    <%% end %>
  }
</script>


</body>
</html>
