<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= model_name %>: <%%= controller.action_name %></title>
  <%% url = <%= model_name %>.connection.binding.url %>
  <%%= tag("link", { "rel" => "Stylesheet", "type" => "text/css", "media" => "screen", "href" => "#{url.scheme}://#{url.host}:#{url.port}/dCSS/Theme2/default/common.css" }) %>
  <script type="text/javascript" src="http://na1.salesforce.com/js/functions.js"></script>
  <%%= javascript_include_tag "prototype" %>
</head>
<body class="contact  overviewPage">

<p style="color: green"><%%= flash[:notice] %></p>

<%%= @content_for_layout %>

</body>
</html>
